/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

ul,
p {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  width: 1;
  height: 1;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 100%;
  max-width: 123px;
  height: 18px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Gelasio", serif;
  font-size: 43px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
}

.subtitle {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__nav {
  margin: 0 auto;
}

.footer {
  background-color: rgba(38, 148, 153, 0.04);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 48px;
}

.footer__contact-text {
  margin-bottom: 20px;
  letter-spacing: 0.06em;
}

.footer__contact-text a {
  display: block;
  margin-top: 10px;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__socials-item:not(:last-child) {
  margin-right: 27px;
}

.footer__socials-item img {
  width: 20px;
  height: 20px;
}

.footer__nav-item {
  font-weight: 500;
  letter-spacing: 0.06em;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__subscribe-title {
  margin-bottom: 42px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.06em;
}

.footer__form {
  display: flex;
  align-items: center;
}

.footer__form-input {
  flex-shrink: 1;
  width: 100%;
  max-width: 195px;
  height: 44px;
  padding: 10px 20px;
  margin-right: 35px;
  font-size: 16px;
  font-weight: normal;
  line-height: 150%;
  color: #000;
  letter-spacing: 0.06em;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.015);
}

.footer__form-input:focus::-moz-placeholder {
  opacity: 0;
}

.footer__form-input:focus:-ms-input-placeholder {
  opacity: 0;
}

.footer__form-input:focus::placeholder {
  opacity: 0;
}

.footer__form-btn {
  padding: 10px 32px;
}

.button {
  padding: 14px 36px;
  background-color: #c9453b;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button span {
  color: #fff;
}

.button:hover {
  background-color: #9e3830;
}

.news-item {
  display: flex;
}

.news-item__img {
  position: relative;
  display: block;
  width: calc(50% - 16px);
  height: 201px;
  margin-right: 16px;
  overflow: hidden;
  border-radius: 10px;
}

.news-item__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.news-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 16px);
  margin-left: 16px;
}

.news-item__info-title {
  margin-bottom: 10px;
  font-family: "Gelasio", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.news-item__info-text {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.6);
}

.news-item__info-author {
  font-size: 20px;
}

.news-item--big {
  flex-direction: column;
}

.news-item--big .news-item__img {
  width: 100%;
  height: 397px;
  margin-bottom: 35px;
}

.news-item--big .news-item__info {
  width: 100%;
}

.news-item--big .news-item__info-text {
  max-width: 470px;
  margin-bottom: 10px;
}

.news-item--big .news-item__info-author {
  font-weight: 500;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 570px;
  max-height: 1100px;
  padding-top: 42px;
  margin-bottom: 70px;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../img/hero-bg.jpg) center/cover no-repeat;
}

.hero__title {
  max-width: 804px;
  margin-bottom: 30px;
  font-family: "Gelasio", serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 120%;
}

.hero__text {
  max-width: 458px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.6);
}

.hero__btn {
  padding: 18px 47px;
}

.location__subtitle {
  max-width: 735px;
  margin-bottom: 50px;
}

.location__list {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.location__item {
  width: calc(1 / 3 * 100% - 30px);
  margin-right: 15px;
  margin-left: 15px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.location__item:hover {
  box-shadow: 0 6px 35px rgba(0, 0, 0, 0.1);
}

.location__item-img {
  width: 100%;
  height: auto;
}

.location__item-info {
  padding: 35px 25px;
  text-align: center;
}

.location__item-title {
  margin-bottom: 10px;
  font-family: "Gelasio", serif;
  font-size: 24px;
  font-weight: 500;
}

.location__item-text {
  font-size: 18px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.6);
}

.offers {
  position: relative;
}

.offers__subtitle {
  max-width: 656px;
  margin-bottom: 60px;
}

.offers__slider {
  max-width: 932px;
  margin-right: auto;
  margin-left: auto;
}

.offers__slider .slick-list {
  overflow: visible;
}

.offers__slider .slick-slide {
  margin-right: 35px;
  margin-left: 35px;
}

.offers__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 52px;
  margin-bottom: 3px;
}

.offers__slider .slick-dots button {
  width: 75px;
  height: 5px;
  margin-right: 1.5px;
  margin-left: 1.5px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  background-color: rgba(201, 69, 59, 0.1);
  border-radius: 10px;
  transition: background-color 0.3s;
}

.offers__slider .slick-dots .slick-active button {
  background-color: #c9453b;
}

.offers__item-img {
  width: 100%;
  height: 173px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  margin-bottom: 20px;
  border-radius: 10px;
}

.offers__item-title {
  margin-bottom: 8px;
  font-family: "Gelasio", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}

.offers__item-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.offers__item-map {
  position: relative;
  padding-left: 34px;
  margin-right: 50px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.offers__item-map::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4301 10.5154C13.0298 10.5154 13.516 10.0293 13.516 9.42959C13.516 8.8299 13.0298 8.34375 12.4301 8.34375C11.8305 8.34375 11.3443 8.8299 11.3443 9.42959C11.3443 10.0293 11.8305 10.5154 12.4301 10.5154Z' fill='%23FC1200'/%3E%3Cpath d='M12.4292 4C9.43567 4 7 6.32946 7 9.19165C7 10.5547 7.6213 12.3674 8.8466 14.5794C9.83064 16.3555 10.9691 17.9615 11.5612 18.7606C11.6612 18.8971 11.7921 19.0082 11.943 19.0847C12.094 19.1612 12.2609 19.2011 12.4302 19.2011C12.5995 19.2011 12.7664 19.1612 12.9173 19.0847C13.0683 19.0082 13.1992 18.8971 13.2992 18.7606C13.8903 17.9615 15.0298 16.3555 16.0138 14.5794C17.2371 12.3681 17.8584 10.5554 17.8584 9.19165C17.8584 6.32946 15.4227 4 12.4292 4ZM12.4292 11.6009C11.9997 11.6009 11.5798 11.4735 11.2227 11.2349C10.8655 10.9962 10.5872 10.6571 10.4228 10.2602C10.2584 9.86342 10.2154 9.42677 10.2992 9.00551C10.383 8.58424 10.5899 8.19729 10.8936 7.89358C11.1973 7.58986 11.5842 7.38303 12.0055 7.29924C12.4268 7.21544 12.8634 7.25845 13.2602 7.42282C13.6571 7.58718 13.9962 7.86553 14.2349 8.22266C14.4735 8.57979 14.6009 8.99966 14.6009 9.42918C14.6002 10.005 14.3712 10.557 13.9641 10.9641C13.557 11.3712 13.005 11.6002 12.4292 11.6009Z' fill='%23FC1200'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
}

.offers__item-rating {
  position: relative;
  padding-left: 34px;
  margin-right: 50px;
  font-size: 20px;
}

.offers__item-rating::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3829 0.463526C10.5325 0.00287056 11.1843 0.00287008 11.3339 0.463525L13.4403 6.9463C13.5072 7.15232 13.6992 7.2918 13.9158 7.2918H20.7322C21.2166 7.2918 21.418 7.9116 21.0261 8.1963L15.5115 12.2029C15.3363 12.3302 15.263 12.5559 15.3299 12.7619L17.4363 19.2447C17.586 19.7053 17.0587 20.0884 16.6669 19.8037L11.1523 15.7971C10.977 15.6698 10.7397 15.6698 10.5645 15.7971L5.04993 19.8037C4.65807 20.0884 4.13083 19.7053 4.2805 19.2447L6.38689 12.7619C6.45382 12.5559 6.38049 12.3302 6.20525 12.2029L0.69067 8.1963C0.298813 7.9116 0.500201 7.2918 0.984562 7.2918H7.80096C8.01757 7.2918 8.20955 7.15232 8.27649 6.9463L10.3829 0.463526Z' fill='%23FFC700'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
}

.offers__item-duration {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.6);
}

.offers__item-price {
  color: rgba(0, 0, 0, 0.6);
}

.offers__item-price span {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.offers__nav {
  position: absolute;
  bottom: 80px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  transform: translateX(-50%);
}

.offers__nav-prev {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  transform: translateY(-50%);
}

.offers__nav-prev .icon {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.offers__nav-next {
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  transform: translateY(-50%);
}

.offers__nav-next .icon {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  transform: rotate(180deg);
}

.news {
  padding-bottom: 140px;
}

.news__subtitle {
  max-width: 581px;
  margin-bottom: 56px;
}

.news__inner {
  display: flex;
  margin-right: -16px;
  margin-left: -16px;
}

.news__col {
  display: flex;
  flex-direction: column;
  width: calc(1 / 2 * 100% - 32px);
  margin-right: 16px;
  margin-left: 16px;
}

.news .news-item:not(:last-child) {
  margin-bottom: 30px;
}